<!DOCTYPE html>
<html>
<head>
	<title>Django Survey Form</title>
	{%load static%}
</head>
<body>
	<form action="/process" method="post">
		{% csrf_token %}
		<label>Name: </label>
		<input type="text" name="name">
		<select name="location">
			<option value="MountainView"> Mountain View</option>	
		</select>
		<select name="language">
			<option value="python">Python</option>
		</select>
		<label>Commment (optional)</label>
		<textarea name="comments"></textarea>
		<input type="submit" name="Submit">
	</form>

</body>
</html>